/* request to subscribe div */

div#sbs_subscribe {
    -moz-user-select:none;
    height:30px;
    line-height: 110%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    display:block;
    float:right;
    color: #2c4545;
    margin: 5px 0 0 0;
    padding: 0 30px;
    text-align:center;
    background-image: url(menubar-n.png);
    background-repeat: repeat-x;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
div#sbs_subscribe > span {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

div#sbs_subscribe > span > a {
    color: #2c4545;
    margin:0;
    padding:0 15px;
    text-decoration: none;
    white-space: nowrap;
}
div#sbs_subscribe >span > a:hover {
    text-shadow: none;
    cursor:pointer;
    color: rgb(205, 230, 255);
    background-color: #466b6b;
    margin:0;
    padding:0 15px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
span#sbs_subscribe_link {
    text-shadow: #9fffff 1px 1px 2px;
}
span#sbs_subscribe_link:hover {
    text-shadow: none;;
}
div#sbs_subscribe h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/* CSS for hidden div revealed on click */
div#why-dialog {
    white-space:normal;
    display: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.3em;
    line-height: 1.1em;
    padding: 2em;
    margin: 0;
    position: absolute;
    width: 20em;
    top: 265px;
    left: 350px;
    background-color: lavender;
    color: black;
    z-index: 9999;
    border: 2px solid #777;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=17, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 17, Direction = 135, Color = '#000000');
}

/* CSS for hidden div revealed on click */
div#privacy-dialog {
    white-space:normal;
    display: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.3em;
    line-height: 1.1em;
    padding: 2em;
    margin: 0;
    position: absolute;
    width: 20em;
    top: 265px;
    left: 520px;
    background-color: lavender;
    color: black;
    z-index: 9999;
    border: 2px solid #777;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=17, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 17, Direction = 135, Color = '#000000');
}

/* Registration form styling */

form.sbs_register_form {
  
   width:30em;
   
   margin-left:-20px;
   padding-left:0;

}

form.sbs_register_form fieldset {
    padding: 20px;
    background-color: #ddd;
    width: 450px;
    margin: 30px;
}

form.sbs_register_form span.error {
    color: red;
    width: 200px;
}

form.sbs_register_form label {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;

}

form.sbs_register_form input {
    width: 160px;
    display: inline-block;
    vertical-align: top;
}