div#sbs_subscribe {
    -moz-user-select: none;
    background-image: url("menubar-tall.png");
    background-repeat: repeat-x;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: #2C4545;
    display: block;
    float: right;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    height: 30px;
    line-height: 110%;
    margin: 25px 0px 0 0;
    padding: 15px 50px;
    text-align: center;
}
div#sbs_subscribe > span {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
div#sbs_subscribe > span > a {
    color: #2C4545;
    margin: 0;
    padding: 14px 20px 15px;
    text-decoration: none;
    white-space: nowrap;
}
div#sbs_subscribe > span > a:hover {
    background-color: #466B6B;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    color: #CDE6FF;
    cursor: pointer;
    margin: 0;
    padding: 14px 20px 15px;
    text-shadow: none;

}
span#sbs_subscribe_link {
    text-shadow: 1px 1px 2px #9FFFFF;
}
span#sbs_subscribe_link:hover {
    text-shadow: none;
}
div#sbs_subscribe h3 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div#why-dialog {
    background-color: lavender;
    border: 2px solid #777777;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;

    box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -moz-box-shadow:  10px 12px 28px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow:  10px 12px 28px rgba(0, 0, 0, 0.86);
    color: black;
    display: none;
    font-family: Georgia,"Times New Roman",serif;
    font-size: 1.3em;
    left: 350px;
    line-height: 1.1em;
    margin: 0;
    padding: 2em;
    position: absolute;
    top: 265px;
    white-space: normal;
    width: 20em;
    z-index: 9999;
}
div#privacy-dialog {
    background-color: lavender;
    border: 2px solid #777777;
    border-radius: 15px 15px 15px 15px;
     -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -moz-box-shadow:  10px 12px 28px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow:  10px 12px 28px rgba(0, 0, 0, 0.86);
    color: black;
    display: none;
    font-family: Georgia,"Times New Roman",serif;
    font-size: 1.3em;
    left: 520px;
    line-height: 1.1em;
    margin: 0;
    padding: 2em;
    position: absolute;
    top: 265px;
    white-space: normal;
    width: 20em;
    z-index: 9999;
}
form.sbs_register_form {
    margin-left: -20px;
    padding-left: 0;
    width: 30em;
}
form.sbs_register_form fieldset {
    background-color: #DDDDDD;
    margin: 30px;
    padding: 20px;
    width: 450px;
}
form.sbs_register_form span.error {
    color: red;
    width: 200px;
}
form.sbs_register_form label {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    vertical-align: top;
    width: 170px;
}
form.sbs_register_form input {
    display: inline-block;
    vertical-align: top;
    width: 160px;
}
