/* request to subscribe div */
div#sm_subscribe {
    width: 60em;
    margin: 3px 0px 3px 20px;
    font-size: 100%;
}

div#sm_subscribe h3 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

div#sm_subscribe div#sm_why_dialog_outer {
    display: inline;
}

div#sm_subscribe div#sm_privacy_dialog_outer {
    display: inline;
}

/* CSS for hidden div revealed on click */
div#sm_subscribe div#sm_why_dialog_outer div#why-dialog {
    display: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.3em;
    line-height: 1.1em;
    padding: 2em;
    margin: 0;
    position: absolute;
    width: 20em;
    top: 265px;
    left: 250px;
    background-color: lavender;
    color: black;
    z-index: 9999;
    border: 2px solid #777;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=17, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 17, Direction = 135, Color = '#000000');
}



/* CSS for hidden div revealed on click */
div#sm_subscribe div#sm_privacy_dialog_outer div#privacy-dialog {
    display: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.3em;
    line-height: 1.1em;
    padding: 2em;
    margin: 0;
    position: absolute;
    width: 20em;
    top: 265px;
    left: 420px;
    background-color: lavender;
    color: black;
    z-index: 9999;
    border: 2px solid #777;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 10px 12px 28px rgba(0, 0, 0, 0.86);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=17, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 17, Direction = 135, Color = '#000000');
}

div#sm_subscribe span#sm_subscribe_msg {
    vertical-align: middle;
    font-size: large;
}

/* Request to Subscribe "buttons" */

div#sm_subscribe span#launch-why-dialog {
    margin-left: 1em;
    padding: 0px 10px 0px 10px;
    color: teal;
    background-color: lavender;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

div#sm_subscribe span#launch-why-dialog:hover {
    color: teal;
    background-color: #669999;
}

div#sm_subscribe span#launch-privacy-dialog {
    margin-left: 1em;
    padding: 0px 10px 0px 10px;
    color: teal;
    background-color: lavender;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

div#sm_subscribe span#launch-privacy-dialog:hover {
    color: teal;
    background-color: #669999;
}

div#sm_subscribe span#sm_subscribe_link a {
    margin-left: 1em;
    padding: 0px 10px 0px 10px;
    color: teal;
    background-color: lavender;
    text-decoration: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

div#sm_subscribe span#sm_login_link a {
    margin-left: 4em;
    padding: 0px 10px 0px 10px;
    color: teal;
    background-color: lavender;
    text-decoration: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

div#sm_subscribe span#sm_subscribe_link a:hover {
    color: teal;
    background-color: #669999;
    text-decoration: none;
}

div#sm_subscribe span#sm_login_link a:hover {
    color: teal;
    background-color: #669999;
    text-decoration: none;
}

/* logout link shown only when user is not logged in */

span#sm_logout_link {
    display: inline;
    margin: 3px 0px 3px 30px;
}

span#sm_logout_link a {
    padding: 0px 10px;
    color: teal;
    background-color: lavender;
    text-decoration: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

span#sm_logout_link a:hover {
    text-decoration: none;
    color: teal;
    background-color: #669999;
}

/* manage prefs link */

span#sm_manage_prefs_link {
    display: inline;
    margin: 3px 0px 3px 30px;
}

span#sm_manage_prefs_link a {
    padding: 0px 10px;
    color: teal;
    background-color: lavender;
    text-decoration: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

span#sm_manage_prefs_link a:hover {
    text-decoration: none;
    color: teal;
    background-color: #669999;
}



/* Registration form styling */

form.sm_register_form fieldset {
    padding: 20px;
    background-color: #ddd;
    width: 750px;
    margin: 30px;
}

form.sm_register_form span.error {
    color: red;
    width: 200px;
}

form.sm_register_form label {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;

}

form.sm_register_form input {
    width: 160px;
    display: inline-block;
    vertical-align: top;
}